.site{
  color: #333;
  font-family: 'PT Serif', serif;
}

.card{
  margin-top: 5em;
}

header{
  color: #666;
  background-color: #C6F0F2;
  border-radius: 1em 1em 0 0;
}
  @media (max-width: 480px) {
    header{
      background-color: #fff;
      border-bottom:none;
    }
  }
  header > div{
    padding:1em 0;
  }

  .photo{
    text-align: center;
  }
    .photo .location{
      margin-top:1em;
    }
    .photo img{
      border-radius: 1em;
      margin-top: -3em;
      border-top: 10px solid #B2DCDE;
      border-bottom: 10px solid #B2DCDE;
    }

.details h2{
  font-size: 2em;
  color: #000;
}
  .details a{
    color: #333;
    border-bottom: 1px dotted;
  }
    .details a:hover{
      text-decoration: none;
      border-bottom-style: solid;
      color: #00f;
    }
  .details ol{
    margin-top: 2em;
    list-style: none;
  }
    .details ol li{
      margin:1em 0;
    }
  .details p{
    line-height: 1.5em;
  }
  .details > div{
    margin-left: 0;
    padding-left: 30px;
  }
.about{
  border-top: 5px solid #2ecc71;
}
  .about li a i{
    margin-right: 5px;
    display: inline-block;
  }
  .about .icon-edit{
    color: #000;
  }
  .about .icon-thumbs-up{
    color: #3B5998;
  }
  .about .icon-linkedin{
    color: #4875B4;
  }
.projects{
  border-top: 5px solid #3498db;
}
  .projects li a i{
    margin-right: 5px;
    display: inline-block;
  }
.contact{
  border-top: 5px solid #9b59b6;
}
  .contact a{
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 30px;
  }
  .contact a.email{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=gmail.com);
  }
  .contact a.twitter{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=twitter.com); 
  }
  .contact a.bitbucket{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=bitbucket.org);
  }
  .contact a.github{
    background-image:url(http://www.google.com/s2/u/0/favicons?domain=github.com);
  }

footer{
  font-size: .8em;
  margin-top:2em;
}