.site{
  font-family: 'Trebuchet MS';
  background:#fff url(../img/brickwall.png);
  padding-top: 5rem;
}

header{
  overflow: hidden;
  font-size: 2rem;
  background-color: #fff;
  padding: 2rem 0;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
  header h1{
    font: 4rem 'Trebuchet MS';
    margin-top: 10px;
  }
  .intro{
    text-align: right;
  }
  .image img{
    border-radius: 1rem;
    margin-top: 1rem;
  }
  .links{
    list-style: none;
  }
    .links li{
      display: inline-block;
      margin: 3rem 2rem;
    }
    .links a{
      text-align: center;
      border-bottom: 1px dashed;
    }
      .links a:hover{
        text-decoration: none;
      }
      .links a span{
        display: block;
      }